<h1>Edit This Hotel</h1>

<%= form_for(@hotel, html: {multipart: true}) do |f| %>
	<div class="form-group">
<div>
<%= f.label(:name) %>
<%= f.text_field(:name) %>
</div>
<div>
<%= f.label(:location) %>
<%= f.text_field(:location) %>
</div>
<div>
<%= f.label(:description) %>
<%= f.text_area(:description) %>	
</div>
<div>
<%= f.label(:photo) %>
<%= f.file_field(:photo) %>	
</div>
<div> <%= f.submit %></div>

<% end %>