<!DOCTYPE html>
<html>
<head>
  <title>S</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
			<p> <a> <%= link_to("All Posts", posts_path) %> </a></p>
			<p> <a> <%= link_to("New Post", new_post_path) %> </a></p>
			
	</nav>

<%= yield %>

</body>
</html>
