<!DOCTYPE html>
<html>
<head>
  <title>Problem1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<nav>
			<p> <a> <%= link_to("All Users", users_path) %> </a></p>
			


			<% if user_signed_in?%>
				<p>You are logged in as <%= current_user.email %></p>
				<p><%= link_to('Your Profile',current_user) %></p>
				<p><%= link_to('LOG OUT', destroy_user_session_path, method: :delete) %></p>
			<% else %>
			<p> <a> <%= link_to("Log In", user_session_path) %> </a></p>
			<p> <a> <%= link_to("SIGN UP", new_user_registration_path) %> </a></p>
			<% end %>


		</nav>


	<% if flash.notice %>
			<div class="notice"><%= flash.notice %></div>
		<% end %>
		<% if flash.alert %>
			<div class="notice"><%= flash.alert %></div>
		<% end %>
<%= yield %>

</body>
</html>
