<h1>Edit This User</h1>
<% if @user.errors.any? %>
<ul>
<%@user.errors.full_messages.each do |error|%>
 		<li><%= error %></li>
 <%end %> 
 </ul>
 <% end %>
<%= form_for(@user, html: {multipart: true}) do |f| %>
<p>
<%= f.label(:email) %>
<%= f.text_field(:email) %>
</p>
<p>
<%= f.label(:name) %>
<%= f.text_field(:name) %>
</p>
<p>
<%= f.label(:headline) %>
<%= f.text_field(:headline) %>	
</p>
<p>
<%= f.label(:profile) %>
<%= f.text_area(:profile) %>	
</p>
<p>
<% if current_user.admin? %>
	<%= f.label(:admin) %>
	<%= f.text_area(:admin) %>
<% end %>
</p>
<p> <%= f.submit %></p>

<% end %>