<h1>Your Post was updated succesfully</h1>

<p> ID: <%= @post.id %> </p>
<p> Title: <%= @post.title %> </p>
<p> Body: <%= @post.body %> </p>
<p> Image: <%= @post.image %> </p>
</p> Edit: <%= link_to('Edit this post', edit_post_path(@post)) %> </p>
<p>Good Job</p>
